.terraform/
.secrets.tfvars
.terraform.lock.hcl
*.tfstate
*.tfstate.*
errored.tfstate
*.tfvars
terraform.tfvars
*.auto.tfvars
crash.log
override.tf
override.tf.json
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
db.sqlite3-journal
venv/
env/
.venv/
.env
.env.local
*.pem
*.cer
*.key
.aws/
.vscode/
.idea/
.DS_Store
.AppleDouble
.LSOverride
docker-compose.override.yml
*.tgz
