controller:
  serviceType: LoadBalancer

  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - configuration-as-code
    - pipeline-stage-view
    - blueocean
    - docker-workflow

  resources:
    requests:
      cpu: '500m'
      memory: '1024Mi'
    limits:
      cpu: '1000m'
      memory: '2048Mi'

serviceAccount:
  create: true
  name: jenkins
