server:
  service:
    type: LoadBalancer
    port: 443
  resources:
    requests:
      cpu: '50m'
      memory: '128Mi'
    limits:
      cpu: '200m'
      memory: '256Mi'

repoServer:
  resources:
    requests:
      cpu: '50m'
      memory: '128Mi'
  persistence:
    enabled: true
    storageClass: 'gp2'

controller:
  resources:
    requests:
      cpu: '50m'
      memory: '128Mi'

redis:
  resources:
    requests:
      cpu: '50m'
      memory: '64Mi'
