replicaCount: 1

image:
  repository: 842303507369.dkr.ecr.eu-west-1.amazonaws.com/final-project-repo
  pullPolicy: IfNotPresent
  tag: 'latest'

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

db:
  host: 'final-project-db.default.svc.cluster.local'
  port: '5432'
  name: 'app_db'
  user: 'postgres'
