image:
  repository: 842303507369.dkr.ecr.eu-west-1.amazonaws.com/lesson-7-django-repo
  tag: latest
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80

config:
  ALLOWED_HOSTS: "*"
  DEBUG: "True"
